.page {
  box-sizing: border-box;
  width: 1400px;
  background-color: #f5f5f5;
  font-family: "Manrope";
  margin: 0 auto;
}

main {
  margin: 0 auto;
}
.container {
  margin: 0 auto;
  width: 1150px;
}

.main__title {
  margin-top: 128px;
  margin-bottom: 30px;
  width: 956px;
  height: 120px;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -0.03em;
}

.main__text {
  width: 1150px;
  height: 500px;
  box-sizing: border-box;
  padding: 379px 680px 40px 40px;
  background-image: url(../resources/body-1.png);
  font-family: "Manrope";
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: white;
  margin-bottom: 150px;
}

.main__about {
  margin-bottom: 30px;
  width: 51px;
  height: 25px;
  font-family: "Manrope";
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -0.03em;
}

.main__info {
  width: 1048px;
  margin-bottom: 30px;

  font-family: "Manrope", sans-serif;
  font-size: 45px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.03em;
}

.main__button {
  display: block;
  width: 255px;
  height: 67px;
  margin-bottom: 150px;
  text-align: center;
  line-height: 67px;
  border: 1px, solid, red;
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  color: rgb(255, 255, 255);
  background-color: #ad1818;
  border-radius: 5px;
}

.main__button:hover {
  background-color: white;
  color: #ad1818;
}

.projects {
  box-sizing: border-box;
  margin: 0 auto;
  width: 1150px;
}

.projects__one {
  margin-bottom: 90px;
}

.projects__text {
  line-height: 100%;
  font-size: 18px;
  margin-bottom: 30px;
}
.projects__img {
  margin-bottom: 15px;
}

.project__card-text {
  line-height: 100%;
  font-size: 30px;
  margin-bottom: 15px;
}

.progect__card-text-link {
  color: #ad1818;
  line-height: 100%;
  font-size: 20px;
  text-decoration: none;
}

.btn-all {
  display: block;
  margin-left: 125px;
  border: 1px solid #ad1818;
  border-radius: 5px;
  height: 153px;
  width: 1150px;
  box-sizing: border-box;
  padding: 0 auto;
  font-family: "Manrope";
  font-size: 30px;
  text-align: center;
  line-height: 153px;
  text-decoration: none;
  color: #ad1818;
  margin-bottom: 150px;
}

.btn-all:hover {
  background-color: #ad1818;
  color: white;
}

.services {
  background-color: black;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 150px;
}

.services__text {
  font-family: "Manrope";
  font-size: 18px;
  color: white;
  padding-left: 125px;
  padding-top: 151px;
  margin-bottom: 34px;
}

.services__card {
  width: 1150px;
  margin: 0 auto 60px;
}

.services__card-img {
  margin-bottom: 15px;
}

.services__card-text {
  font-family: "Manrope";
  font-size: 30px;
  line-height: 100%;
  color: white;
}
